@model CategoryModel
@{
    //页面标题
    ViewBag.Title = T("Admin.ContentManagement.Blog.Categories.AddNew").Text;
    //当前选中节点项系统名称
    Html.SetActiveMenuItemSystemName("Blog categories");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "category-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.Blog.Categories.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.ContentManagement.Blog.Categories.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
