@using RANSUROTTO.BLOG.Core.Domain.Common.Setting
@using RANSUROTTO.BLOG.Core.Domain.Seo.Setting
@using RANSUROTTO.BLOG.Core.Infrastructure
@using RANSUROTTO.BLOG.Framework.UI
@{

    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\" />", commonSettings.XuaCompatibleValue));
    }

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();
    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {
        Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }

    Html.AddPageCssClassParts("no-js");
    //防狼术
    Html.AddHeadCustomParts("<meta http-equiv=\"Cache-Control\" content=\"no-siteapp\" />");
    //Add to homescreen for Chrome on Android
    Html.AddHeadCustomParts("<meta name=\"mobile-web-app-capable\" content=\"yes\" />");
    //Add to homescreen for Safari on iOS
    Html.AddHeadCustomParts("<meta name=\"apple-mobile-web-app-capable\" content=\"yes\" />");
    Html.AddHeadCustomParts("<meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black\" />");
    Html.AddHeadCustomParts("<meta name=\"apple-mobile-web-app-title\" content=\"blog\" />");
    //Tile icon for Win8 (144x144 + tile color)
    Html.AddHeadCustomParts("<meta name=\"msapplication-TileColor\" content=\"#0e90d2\" />");

}

<!DOCTYPE html>
<html @Html.PageCssClasses()>
<head>
    <title>@Html.Title()</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="keywords" content="@(Html.MetaKeywords())" />
    <meta name="description" content="@(Html.MetaDescription())" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.HeadCustom()
    <!-- Head Css Files -->
    @Html.CssFiles(this.Url, ResourceLocation.Head)
    <!-- Head Scripts -->
    @Html.Scripts(this.Url, ResourceLocation.Head)
    <!-- Head Canonical Url -->
    @Html.CanonicalUrls()
    @*Favicon - favicon.ico文件上传到根目录*@
    @Html.Action("Favicon", "Common")
    <!--Powered by ransurotto - http://www.ransurotto.com-->

</head>
<body>
    @RenderBody()
    <!-- Footer Css Files -->
    @Html.CssFiles(this.Url, ResourceLocation.Footer)
    <!-- Footer Scripts -->
    @Html.Scripts(this.Url, ResourceLocation.Footer)
</body>
</html>
